<div class=" border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <div class="user-panel">
        <div class="pull-left image">
          <%= link_to(image_tag(current_user.photo.thumb.url, alt: 'Image', class: 'rounded img-photo'), current_user.photo.url, target: '_blank') if current_user.photo? %>
        </div>
        <div class="pull-left info">
          <p><%=current_user.fullName%></p>
        </div>
      </div>
    </div>
    <div class= "user-info">
      <div class="user-count p-3">
        <h2><strong><%=current_user.following.count%> </strong></h2>
        <p>Following</p>
      </div>
      <div class="user-count p-3">
        <h2><strong><%=current_user.followers.count%> </strong></h2>
        <p>Follower</p>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-items list-group-item-action">
        <i class="fas fa-home"></i><b class ="pl-3 the-b">HOME</b> </a>
      <a href="#" class="list-group-items list-group-item-action">
        <i class="fas fa-at"></i><b class ="pl-3 the-b">
        CONNECT
        </b></a>
      <a href="#" class="list-group-items list-group-item-action">
        <i class="fas fa-hashtag"></i><b class ="pl-3 the-b">DISCOVER</b></a>
      <a href="#" class="list-group-items list-group-item-action">
        <i class="fas fa-user"></i><b class ="pl-3 the-b">PROFILE</b></a>
      <a href="#" class="list-group-items list-group-item-action">
        <i class="fas fa-chart-pie"></i><b class ="pl-3 the-b">STATISTICS</b></a>
    </div>
  </div>