<% if @user_following.empty? %>
  <p>Is following no one</p>
<% else %>
  <%@user_following.each do |user|%>
    <div class="user-panel">
      <div class="pull-left image pr-1">
        <%= link_to(image_tag(user.photo.thumb.url, alt: 'Image', class: 'rounded-circle img-photo'), user.photo.url, target: '_blank') if user.photo? %>
      </div>
      <div class="p-1">
      <p><a href="<%= user_path(user) %>"><%=user.fullName%></a> </p>
       
      </div>
    </div>
  <%end%>
<%end%>
