@import "https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700";

* {
  margin: 0;
  padding: 0;
}

body {
  // background-color: #f0f0f0;
  font-family: helvetica;
  overflow-x: hidden;
}

// *******registration and login page start********//
.bg {
  position: relative;
  top: 20px;
  width: 800px;
  background: url("https://i.imgur.com/3eP9Z4O.png") center no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border: #fff 15px solid;
}

.bg-signup {
  height: 1550px;
}

.bg-login {
  height: 700px;
}

.module {
  position: relative;
  top: 15%;
  height: 70%;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.45);
}

.module ul {
  list-style-type: none;
  margin: 0;
}

.tab {
  float: left;
  height: 60px;
  width: 25%;
  padding-top: 20px;
  box-sizing: border-box;
  background: #f0eded;
  text-align: center;
  cursor: pointer;
  transition: background 0.4s;
}

.tab:first-child {
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}

.tab:last-child {
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

.tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.activeTab {
  background: #fff;
}

.activeTab .icon {
  opacity: 1;
}

.icon {
  height: 24px;
  width: 24px;
  opacity: 0.2;
}

.form {
  float: left;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.textbox {
  height: 38px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
}

.textbox:focus {
  outline: none;
  border: rgba(24, 149, 215, 1) 2px solid;
  color: rgba(24, 149, 215, 1);
}

.r-button {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.3) 0 solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  background: #90c843;
  color: #fff;
  font-weight: bold;
  font-size: 12pt;
  transition: background 0.4s;
  cursor: pointer;
}

.r-button:hover {
  background: #80b438;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}
// *******registration and login page end********//

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #213246;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;
  height: 70px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .user-info {
  display: inline-flex;
  width: 15rem;
}

#sidebar-wrapper .user-info > .user-count {
  display: block;
  width: 15rem;
  padding-left: 25px;
  margin-bottom: -30px;
}

#sidebar-wrapper .user-info > .user-count > p {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: rgb(184, 177, 177);
}

#sidebar-wrapper .user-info > .user-count > h2 {
  color: #94a2af;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-left: 27px;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-items {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.the-b {
  color: rgb(184, 177, 177);
}

.nav-b {
  background-color: #197adb !important;
}

.list-group-item-action:hover {
  background-color: #197adb !important;
  color: #f1f4f7 !important;
}

.nav-link:hover {
  background-color: #c52222 !important;
}

/****** USER-PANEL start *******/

.user-panel {
  clear: left;
  display: block;
  float: left;
}

.img-photo {
  width: 100%;
  max-width: 50px;
  height: 50px;
}

.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 12px;
  color: #94a2af;
  font-size: 18px;
  font-family: Proxima-Bold, sans-serif;
}

.user-panel {
  clear: left;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 5px;
  border-bottom: 1px solid;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 65px;
  margin-top: 15px;
}

/****** USER-PANEL end *******/

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
